body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);

  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 600px;
  width: 90%;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #3f72af;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.profile img:hover {
  transform: scale(1.1);
}

.profile h2 {
  font-size: 1.8rem;
  color: #112d4e;
  margin-bottom: 0.5rem;
}

.profile p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

.back {
  margin: 20px auto;
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.back:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}
